@import 'normalize.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-container {
  display: grid;
  gap: 30px 10px;
  box-sizing: border-box;
  width: 100%;
}

.block {
  display: block;
  margin: 0 auto;
  /*width: auto;*/
}

.text-center {
  text-align: center;
}
