@import 'normalize.css';
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
}

#root {
  display: block;
  overflow: auto;
}

.container,
.topMenu {
  display: grid;
  height: auto;
  grid-template-columns: 1fr 1fr;
}

svg {
  height: auto;
  width: 100%;
}

rect,
path,
line,
polyline {
  stroke: #12b495;
  stroke-width: 2px;
}

polygon {
  stroke: #12b495;
  stroke-width: 1px;
}

rect,
path,
polygon,
circle {
  fill: white;
}

polyline {
  fill: none;
}

text {
  font-family: 'Rubik', sans-serif;
  text-anchor: middle;
}

pre.result-script {
  display: block;
  margin-top: 50px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.hidden {
  display: none;
}

.active {
  stroke: #007bff;
}

.span-title,
.btn {
  margin-right: 10px;
}

.addBlockBtn circle,
.addBlockBtn line,
.removeBlockBtn circle,
.removeBlockBtn line {
  stroke-width: 1px;
  cursor: pointer;
}

.addBlockBtn circle,
.addBlockBtn line {
  stroke: #007bff;
}

.removeBlockBtn circle,
.removeBlockBtn line {
  stroke: #a94442;
}

.relative {
  position: relative;
}

.dropdown-div {
  margin-bottom: 10px;
}

@media (min-width: 1000px) {
  .container > div:last-child {
    padding-left: 50px;
  }
  .title {
    display: block;
    width: 100%;
  }
  .inline {
    display: inline-block;
    margin-right: 10px;
  }
  .dropdown-div {
    display: grid;
    align-items: center;
    grid-template-columns: minmax(120px, max-content) min-content min-content;
    grid-column-gap: 10px;
  }
}

.active {
  stroke: #007bff !important;
}

.deactived {
  stroke: gray !important;
  fill: lightgray !important;
  cursor: not-allowed;
}

.deactived-text {
  fill: gray !important;
  cursor: not-allowed;
}

.undisplayed {
  display: none;
}

.block-cursor-pointer {
  cursor: pointer;
}

.dropdown > button {
  width: 100%;
}
