.displayed-icon {
  height: auto;
  width: 30%;
}

.defined-icon {
  display: none;
}

#phone rect,
#phone circle {
  fill: white;
}

#phone rect {
  stroke: #FF2626;
  stroke-width: 10px;
}



/*.displayed {*/
  /*display: inline-block;*/
/*}*/



